{% extends 'base.html' %}

{% block body %}

<nav style="display: flex; justify-content: space-betweeen; align-items:center; width: 100%; border: 1px solid black;">
    <div style="width: 85%; margin-left: 20px;">
        <h1><a href="{{url_for('inicio')}}">Inicio</a></h1>
    </div>
    <div style=" display: flex; margin-right: 20px;">
        <h1><a href="{{url_for('login')}}">Login</a></h1>
    </div>
    <div>
        <h1><a href="{{url_for('register')}}">Register</a></h1>
    </div>
</nav>
<h1 style="display: flex; justify-content: center; align-items:center; width: 100%;">WELCOME TO Register</h1>

{% for contact in data %}
<form action="/update/{{contact.0}}" method="POST">
    <h1>EDITAR CONTACTO</h1>
    <div>
        {{form.nombre.label}}
        {{form.nombre(placeholder='Escribe tu nombre')}}
    </div>
    <div>
        {{form.telefono.label}}
        {{form.telefono(placeholder='Escribe tu telefono')}}
    </div>
    <div>
        {{form.descripcion.label}}
        {{form.descripcion(placeholder='Escribe tu descripcion')}}
    </div>
    <div>
        {{form.submit(placeholder='Crear usuario')}}
    </div>
    
</form>
{% endfor %}
{% endblock %}